@charset "utf-8";
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  vertical-align: bottom;
  width: 100%;
}
body {
  background: linear-gradient(rgb(171, 208, 253), rgb(255, 255, 255));
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "zen-maru-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header */
header {
  position: relative;
  padding-top: 50%;
}
header h1 {
  font-weight: 100;
}
header h1 img {
  width: 30%;
  position: absolute;
  top: 50%;
  right: 10%;
}
header h1 p span {
  display: block;
}
header h1 p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(135, 135, 135);
  font-size: 4vw;
  font-weight: 400;
}
.orange {
  font-style: normal;
  color: rgb(252, 154, 119);
  font-size: 4vw;
  font-weight: 400;
}
.ham {
  position: fixed;
  top: 1.5%;
  right: 2.5%;
  z-index: 100;
  width: 70px;
  height: 70px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.hamwrapper {
  position: relative;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hamwrapper span {
  width: 40px;
  border: 1px solid rgb(135, 135, 135);
  transition: all 1s;
}
.close {
  position: absolute;
  top: 47%;
  left: 2%;
  transform: translateY(-50%);
  transform: rotate(45deg);
  transition: all 1s;
}
.close2 {
  position: absolute;
  top: 47%;
  left: 2%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
  transition: all 1s;
}
.menu {
  display: none;
}

.menu li {
  height: 8vw;
}
.menu li a {
  text-decoration: none;
  color: white;
  font-size: 8vw;
  font-family: "anchor-web", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(135, 135, 135);
}
.open {
  position: fixed;
  width: 95vw;
  right: 2.5vw;
  top: 12vw;
  z-index: 10;
  animation: fadeIn 1s ease-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.cloud {
  display: none;
}
.cloudopen {
  position: fixed;
  width: 95vw;
  object-fit: contain;
  right: 2.5vw;
  top: 1vw;
  z-index: 10;
  display: block;
  animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.cloudclose {
  display: none;
}
.none {
  display: none;
}
.top {
  border: 1px solid rgb(135, 135, 135);
  color: rgb(135, 135, 135);
  background: white;
  border-radius: 8px;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 10;
}
@media screen and (min-width: 767px) {
  header h1 img {
    width: 20%;
  }
  header h1 p {
    width: 61%;
    font-size: 1.8rem;
    left: 40%;
    z-index: 100;
  }
  .orange {
    font-size: 1.8rem;
  }
  .ham {
    width: 100px;
    height: 100px;
  }
  .top {
    width: 100px;
    height: 100px;
  }
  .menu {
    width: 80vw;
  }
  .menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vw;
  }
  .menu li a {
    font-size: 5vw;
  }
  .cloudopen {
    width: 80vw;
    top: 8vw;
    right: -20vw;
    z-index: 10;
  }
  .open {
    top: 18vw;
    right: -20vw;
    width: 80vw;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding-top: 25%;
  }
  header h3 p {
    font-size: 2rem;
  }
  .menu li {
    height: 5vw;
    max-height: 40px;
  }
  .menu li a {
    font-size: 2.5rem;
  }
  .cloudopen {
    object-fit: contain;
    width: 600px;
    top: 1%;
    right: 1%;
  }
  .open {
    width: 60vw;
    max-width: 600px;
    top: 100px;
    right: 0.5%;
    gap: 20px;
  }
}

/* main */
main {
  margin-top: 10%;
}
figure img {
  border-radius: 8px 8px 0 0;
}
.sec {
  width: 90%;
  margin: 2% auto;
  background-color: #dedede;
  opacity: 0;
  visibility: hidden;
  transform: translateY(150px);
  transition: opacity 2s ease, transform 2s ease;
  border-radius: 8px;
}
.text h2 {
  font-size: 6vw;
  text-align: center;
}
.text p {
  font-size: 1rem;
  border-top: 1px solid rgb(172, 163, 131);
  padding: 5% 5% 5% 4%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  margin-top: 2%;
  background: white;
  border-radius: 0 0 8px 8px;
}
.sec:nth-child(1) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-150px);
  transition: opacity 2s ease, transform 2s ease;
  border-radius: 8px;
}
.sec.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.sec:nth-child(2) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(150px);
  transition: opacity 2s ease, transform 2s ease;
  border-radius: 8px;
}
.sec.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.sec:nth-child(3) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-150px);
  transition: opacity 2s ease, transform 2s ease;
  border-radius: 8px;
}
.sec.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
@media screen and (min-width: 767px) {
  .sec {
    width: 85%;
  }
  .text h2 {
    font-size: 2.5rem;
  }
  .text p {
    font-size: 1.5rem;
    padding: 4%;
  }
}
@media screen and (min-width: 1024px) {
  .sec {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5%;
    background: rgba(255, 255, 255, 0);
    margin: 0.5% auto;
    height: 90%;
    max-height: 400px;
  }
  figure img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-radius: 8px;
  }
  .text {
    width: 40%;
    border-radius: 8px;
  }
  .sec .text {
    margin: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text h2 {
    font-size: 2.2rem;
  }
  .text p {
    font-size: 1.2rem;
  }
  .sec:nth-of-type(2) .text {
    order: 1;
  }
  .sec:nth-of-type(2) figure {
    order: 2;
  }
}

/* footer */
footer {
  opacity: 0;
  color: rgb(135, 135, 135);
  margin-top: 10%;
}
footer.visible {
  opacity: 1;
  animation: fadeIn2 2s ease-out forwards;
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.footer-container {
  position: relative;
  padding-top: 32%;
  margin-bottom: 8%;
}
#footer,
#footer2,
#footer3 {
  position: absolute;
  top: 0;
  left: 0;
}
footer div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  font-size: 0.5rem;
}
footer div p {
  width: fit-content;
  margin: 0 auto;
}
footer img {
  position: absolute;
  display: none;
}
footer img.active {
  display: block;
}
@media screen and (min-width: 767px) {
  footer div {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer div {
    top: 110%;
  }
}
