@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  vertical-align: bottom;
  width: 100%;
}
body {
  background: linear-gradient(rgb(171, 208, 253), rgb(255, 255, 255));
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "zen-maru-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header */
header {
  position: relative;
  padding-top: 50%;
}

header h1 img {
  width: 30%;
  position: absolute;
  top: 50%;
  right: 10%;
}
header h1 p span {
  display: block;
}
header h1 p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(135, 135, 135);
  font-size: 4vw;
  font-family: "zen-maru-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.orange {
  font-style: normal;
  color: rgb(252, 154, 119);
  font-size: 4vw;
  font-weight: 400;
}
.ham {
  position: fixed;
  top: 1.5%;
  right: 2.5%;
  z-index: 100;
  width: 70px;
  height: 70px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.hamwrapper {
  position: relative;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hamwrapper span {
  width: 40px;
  border: 1px solid rgb(135, 135, 135);
  transition: all 1s;
}
.close {
  position: absolute;
  top: 47%;
  left: 2%;
  transform: translateY(-50%);
  transform: rotate(45deg);
  transition: all 1s;
}
.close2 {
  position: absolute;
  top: 47%;
  left: 2%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
  transition: all 1s;
}
.none {
  display: none;
}
.sp {
  display: none;
}

.sp li {
  height: 8vw;
}
.sp li a {
  text-decoration: none;
  color: white;
  font-size: 8vw;
  font-family: "anchor-web", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(135, 135, 135);
}
.pc {
  display: none;
}
.open {
  position: fixed;
  width: 60vw;
  right: 20vw;
  top: 12vw;
  z-index: 1000;
  animation: fadeIn 1s ease-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.cloud {
  display: none;
}
.cloudopen {
  position: fixed;
  width: 95vw;
  object-fit: contain;
  right: 2.5vw;
  top: 1vw;
  z-index: 10;
  display: block;
  animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.cloudclose {
  display: none;
}
.top {
  border: 1px solid rgb(135, 135, 135);
  color: rgb(135, 135, 135);
  background: white;
  border-radius: 8px;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 10;
}
@media screen and (min-width: 767px) {
  header h1 p {
    width: 60%;
    font-size: 1.8rem;
    left: 40%;
    z-index: 100;
  }
  .orange {
    font-size: 1.8rem;
  }
  .ham {
    width: 100px;
    height: 100px;
  }
  .top {
    width: 100px;
    height: 100px;
  }
  .sp {
    width: 80vw;
  }
  .sp li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vw;
  }
  .sp li a {
    font-size: 5vw;
  }
  .cloudopen {
    width: 80vw;
    top: 8vw;
    right: -20vw;
    z-index: 10;
  }
  .open {
    top: 18vw;
    right: 0vw;
    width: 40vw;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding-top: 25%;
    margin-bottom: 5%;
  }
  header h1 img {
    width: 20%;
  }
  header h1 p {
    font-size: 2rem;
  }
  .orange {
    font-size: 2rem;
  }
  .sp li {
    height: 5vw;
    max-height: 40px;
  }
  .sp li a {
    font-size: 2.5rem;
  }
  .cloudopen {
    object-fit: contain;
    width: 600px;
    top: 1%;
    right: 1%;
  }
  .open {
    width: 60vw;
    max-width: 600px;
    top: 100px;
    right: 0.5%;
    gap: 20px;
  }
}

/* main */
#skill {
  margin-top: 10%;
  margin-bottom: 10%;
}
#aboutme h2,
#skill h2,
#interests h2 {
  width: fit-content;
  font-size: 2rem;
  margin: auto;
}
#skill p,
#interests p {
  width: fit-content;
  font-size: 1rem;
  margin: 0 auto;
}

/* aboutme */
#aboutme {
  width: 100%;
  overflow: hidden;
}
#aboutme img {
  display: block;
  margin: 0 auto;
}
.aboutme-img {
  width: 90%;
  margin: 4% auto 0;
  position: relative;
}
.plant {
  width: 60%;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
}
.aboutme-text {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.aboutme-text p {
  width: 100%;
  margin: 15% auto;
  padding: 2%;
  display: block;
  background: white;
  font-size: 1.2rem;
  border-radius: 8px;
}
.aboutme p span {
  display: block;
  width: 99%;
  margin: 3% auto;
}
.aboutme p span:nth-of-type(1) {
  margin: 3% auto 0;
}
.aboutme p span:nth-of-type(2) {
  margin: 0% auto 3%;
}
#bold {
  font-weight: 600;
  margin: 5% auto;
}
.half-circle-wrapper {
  position: relative;
  padding-top: 20vw;
  margin: 0 auto;
  font-size: 15vw;
}
.half-circle-text {
  position: absolute;
  top: 190%;
  left: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
  color: white;
  font-family: "anchor-web", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(135, 135, 135);
}
.start-animation {
  animation: rotateText 3s cubic-bezier(0, 0.5, 0.75, 1) forwards;
}
.half-circle-text span {
  position: absolute;
  top: 50%;
  left: 50%;
}
.half-circle-text span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(40deg) translateY(-30vw);
}
.half-circle-text span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(55deg) translateY(-30vw);
}
.half-circle-text span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(70deg) translateY(-30vw);
}
.half-circle-text span:nth-child(4) {
  transform: translate(-50%, -50%) rotate(85deg) translateY(-30vw);
}
.half-circle-text span:nth-child(5) {
  transform: translate(-50%, -50%) rotate(100deg) translateY(-30vw);
}

.half-circle-text span:nth-child(6) {
  transform: translate(-50%, -50%) rotate(125deg) translateY(-30vw);
}
.half-circle-text span:nth-child(7) {
  transform: translate(-50%, -50%) rotate(140deg) translateY(-30vw);
}
@keyframes rotateText {
  0% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(270deg);
  }
}
@media screen and (min-width: 767px) {
  .half-circle-wrapper {
    font-size: 6rem;
  }
  #aboutme p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  #aboutme p span {
    width: 96%;
  }
  .aboutme-img {
    width: 80%;
  }
  .aboutme-text {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  #aboutme p {
    font-size: 1.5rem;
  }
  .half-circle-wrapper {
    font-size: 5rem;
    padding: 10%;
  }
  .half-circle-text {
    top: 170%;
    left: 35%;
  }
  .aboutme-img {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .aboutme-text {
    width: 90%;
  }
  .meanddog {
    width: 60%;
  }
  .plant {
    width: 35%;
    position: static;
    transform: translate(0);
  }
  .aboutme-text p {
    width: 90%;
    font-size: 1rem;
    border-radius: 8px;
    margin: 1% auto 5%;
  }
  .half-circle-text span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(44deg) translateY(-200px);
  }
  .half-circle-text span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(58deg) translateY(-200px);
  }
  .half-circle-text span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(72deg) translateY(-200px);
  }
  .half-circle-text span:nth-child(4) {
    transform: translate(-50%, -50%) rotate(84deg) translateY(-200px);
  }
  .half-circle-text span:nth-child(5) {
    transform: translate(-50%, -50%) rotate(98deg) translateY(-200px);
  }

  .half-circle-text span:nth-child(6) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-200px);
  }
  .half-circle-text span:nth-child(7) {
    transform: translate(-50%, -50%) rotate(134deg) translateY(-200px);
  }
}

/* skill */
#skill {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.development {
  margin: 0 auto 5%;
}
.design {
  width: fit-content;
  margin: 5% auto;
}
.development dt,
.design dt {
  width: fit-content;
  font-size: 1.5rem;
  margin: 0 auto;
}
.development div,
.design div {
  width: fit-content;
  margin: 0 auto;
}
.development div dd,
.design div dd {
  margin-top: 5%;
  font-size: 1.5rem;
}
.development div dd span,
.design div dd span {
  display: block;
  font-size: 1.2rem;
  margin-top: 2%;
}
.development img,
.design img {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.design img {
  padding-left: 1%;
}
.half-circle-wrapper2 {
  position: relative;
  padding-top: 25vw;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15vw;
}
.half-circle-text2 {
  position: absolute;
  top: 150%;
  left: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
  font-family: "anchor-web", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(135, 135, 135);
}
.start-animation2 {
  animation: rotateText2 3s cubic-bezier(0, 0.5, 0.75, 1) forwards;
}
.half-circle-text2 span {
  position: absolute;
  top: 50%;
  left: 50%;
}
.half-circle-text2 span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(60deg) translateY(-30vw);
}
.half-circle-text2 span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(75deg) translateY(-30vw);
}
.half-circle-text2 span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-30vw);
}
.half-circle-text2 span:nth-child(4) {
  transform: translate(-50%, -50%) rotate(105deg) translateY(-30vw);
}
.half-circle-text2 span:nth-child(5) {
  transform: translate(-50%, -50%) rotate(120deg) translateY(-30vw);
}
@keyframes rotateText2 {
  0% {
    transform: translate(-50%, -50%) rotate(30deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}
.development,
.design {
  border: 1px solid black;
  width: 90%;
  background: white;
}
.development dt,
.design dt {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 10%;
}
.development div,
.design div {
  margin-bottom: 10%;
}
#min767block {
  display: block;
}
@media screen and (min-width: 767px) {
  #skill {
    margin-top: 0;
  }
  .half-circle-wrapper2 {
    width: 600px;
    font-size: 6rem;
  }
  .half-circle-text2 {
    top: 185%;
  }
  .half-circle-text2 span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(60deg) translateY(-240px);
  }
  .half-circle-text2 span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(75deg) translateY(-240px);
  }
  .half-circle-text2 span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-240px);
  }
  .half-circle-text2 span:nth-child(4) {
    transform: translate(-50%, -50%) rotate(105deg) translateY(-240px);
  }
  .half-circle-text2 span:nth-child(5) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-240px);
  }
  .development,
  .design {
    width: 80%;
    background: white;
  }
  .development div dd,
  .design div dd {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .development div dd:nth-of-type(1) {
    margin: 0;
  }
  .design div dd:nth-of-type(1) {
    margin: 0;
  }
  .development div dd span,
  .design div dd span {
    font-size: 1.5rem;
  }
  #min767block {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }
  .half-circle-wrapper2 {
    padding-top: 220px;
  }
  .half-circle-text2 {
    top: 360px;
  }
  .development dt,
  .design dt {
    font-size: 2.2rem;
  }
  .development,
  .design {
    width: 40%;
    margin: 0;
    height: 60vw;
    max-height: 680px;
  }
  .development div dd,
  .design div dd {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  .development div dd span,
  .design div dd span {
    font-size: 1rem;
  }
  .design div dd span span {
    line-height: 1;
  }
}

/* footer */
footer {
  opacity: 0;
  color: rgb(135, 135, 135);
}
footer.visible {
  opacity: 1;
  animation: fadeIn2 2s ease-out forwards;
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.footer-container {
  position: relative;
  padding-top: 32%;
  margin-bottom: 8%;
}
#footer,
#footer2,
#footer3 {
  position: absolute;
  top: 0;
  left: 0;
}
footer div {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  width: 80%;
}
footer div p {
  width: fit-content;
  margin: 0 auto;
  line-height: 1.1;
}

footer img {
  position: absolute;
  display: none;
}

footer img.active {
  display: block;
}
@media screen and (min-width: 767px) {
  footer div {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer div {
    top: 110%;
  }
}
