@charset "utf-8";
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  vertical-align: bottom;
  width: 100%;
}
body {
  background: linear-gradient(rgb(171, 208, 253), rgb(255, 255, 255));
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
}
.wrapper {
  margin: 0 auto;
  font-family: "zen-maru-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header */
header {
  position: relative;
  padding-top: 50%;
  max-width: 1200px;
  margin: auto;
}
header h1 {
  font-weight: 400;
}
header h1 img {
  width: 30%;
  position: absolute;
  top: 50%;
  right: 10%;
}
header h1 p span {
  display: block;
}
header h1 p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(135, 135, 135);
  font-size: 4vw;
  font-weight: 400;
}
.orange {
  font-style: normal;
  color: rgb(252, 154, 119);
  font-size: 4vw;
  font-weight: 400;
}
.ham {
  position: fixed;
  top: 1.5%;
  right: 2.5%;
  z-index: 100;
  width: 70px;
  height: 70px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.hamwrapper {
  position: relative;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hamwrapper span {
  width: 40px;
  border: 1px solid rgb(135, 135, 135);
  transition: all 1s;
}
.close {
  position: absolute;
  top: 47%;
  left: 2%;
  transform: translateY(-50%);
  transform: rotate(45deg);
  transition: all 1s;
}
.close2 {
  position: absolute;
  top: 47%;
  left: 2%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
  transition: all 1s;
}
.menu {
  display: none;
}
.menu li {
  height: 8vw;
}
.menu li a {
  text-decoration: none;
  color: white;
  font-size: 8vw;
  font-family: "anchor-web", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(135, 135, 135);
}
.open {
  position: fixed;
  width: 95vw;
  right: 2.5vw;
  top: 12vw;
  z-index: 10;
  animation: fadeIn 1s ease-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.cloud {
  display: none;
}
.cloudopen {
  position: fixed;
  width: 95vw;
  object-fit: contain;
  right: 2.5vw;
  top: 1vw;
  z-index: 10;
  display: block;
  animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.cloudclose {
  display: none;
}
.none {
  display: none;
}
.top {
  border: 1px solid rgb(135, 135, 135);
  color: rgb(135, 135, 135);
  background: white;
  border-radius: 8px;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 10;
}
@media screen and (min-width: 767px) {
  header h1 p {
    width: 60%;
    font-size: 1.8rem;
    left: 40%;
    z-index: 100;
  }
  .orange {
    font-size: 1.8rem;
  }
  .ham {
    width: 100px;
    height: 100px;
  }
  .top {
    width: 100px;
    height: 100px;
  }
  .menu {
    width: 80vw;
  }
  .menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vw;
  }
  .menu li a {
    font-size: 5vw;
  }
  .cloudopen {
    width: 80vw;
    top: 8vw;
    right: -20vw;
    z-index: 10;
  }
  .open {
    top: 18vw;
    right: 0vw;
    width: 40vw;
    z-index: 1000;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding-top: 25%;
    margin-bottom: 5%;
  }
  header h1 img {
    width: 20%;
  }
  header h1 p {
    font-size: 2rem;
  }
  .orange {
    font-size: 2rem;
  }
  .menu li {
    height: 5vw;
    max-height: 40px;
  }
  .menu li a {
    font-size: 2.5rem;
  }
  .cloudopen {
    object-fit: contain;
    width: 600px;
    top: 1%;
    right: 1%;
  }
  .open {
    width: 60vw;
    max-width: 600px;
    top: 100px;
    right: 0.5%;
    gap: 20px;
  }
}

/* main */
/* website */
.web {
  margin-bottom: 20%;
  max-width: 1200px;
  margin: 0 auto;
}
.web h2 {
  width: fit-content;
  margin: 5% auto 4%;
  font-weight: bold;
  font-size: 6vw;
}
.web h3 {
  line-height: 1;
}
.half-circle-wrapper {
  position: relative;
  padding-top: 25vw;
  margin: 0 auto;
  overflow-x: visible;
  font-size: 15vw;
}

.half-circle-text {
  position: absolute;
  top: 160%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: "anchor-web", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(135, 135, 135);
}
.start-animation {
  animation: rotateText 2.5s cubic-bezier(0, 0.5, 0.75, 1) forwards;
}
.half-circle-text span {
  position: absolute;
  top: 50%;
  left: 50%;
}
.half-circle-text span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(50deg) translateY(-30vw);
}
.half-circle-text span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(70deg) translateY(-30vw);
}
.half-circle-text span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-30vw);
}
.half-circle-text span:nth-child(4) {
  transform: translate(-50%, -50%) rotate(110deg) translateY(-30vw);
}
.half-circle-text span:nth-child(5) {
  transform: translate(-50%, -50%) rotate(130deg) translateY(-30vw);
}
@keyframes rotateText {
  0% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(270deg);
  }
}
.cafewrapper,
.powrapper,
.fitwrapper {
  width: 80%;
  margin: 0 auto;
}
.cafewrapper,
.powrapper,
.fitwrapper {
  margin-top: 8%;
}
.cafetext,
.potext,
.fittext {
  font-size: 1rem;
}
.cafetext a,
.potext a,
.fittext a {
  color: rgb(135, 135, 135);
}

@media screen and (min-width: 767px) {
  .half-circle-wrapper {
    width: 600px;
    font-size: 6rem;
  }
  .half-circle-text {
    top: 175%;
    font-size: 5rem;
  }
  .cafetext,
  .potext,
  .fittext {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .web h2 {
    font-size: 2.2rem;
  }
  .cafewrapper,
  .powrapper,
  .fitwrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1%;
    margin-top: 5%;
  }
  .cafeimg,
  .poimg,
  .fitimg {
    width: 52.5%;
  }
  .cafetext,
  .potext,
  .fittext {
    width: 42.5%;
  }
  .half-circle-wrapper {
    padding-top: 200px;
  }
  .half-circle-text {
    top: 400px;
  }
  .half-circle-text span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(60deg) translateY(-300px);
  }
  .half-circle-text span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(75deg) translateY(-300px);
  }
  .half-circle-text span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-300px);
  }
  .half-circle-text span:nth-child(4) {
    transform: translate(-50%, -50%) rotate(105deg) translateY(-300px);
  }
  .half-circle-text span:nth-child(5) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-300px);
  }
}

/* illust */
.inner {
  padding: 10%;
}
.illust h2 {
  font-size: 6vw;
  width: fit-content;
  margin: 5% auto 2%;
  font-weight: bold;
}
.width2 {
  width: 215%;
}
@media screen and (min-width: 767px) {
  .illust h2 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .illust .thumbnail {
    width: 13%;
  }
}

/* photo */
.photo h2 {
  font-size: 6vw;
  width: fit-content;
  margin: 5% auto 2%;
  font-weight: bold;
}
@media screen and (min-width: 767px) {
  .photo h2 {
    font-size: 2.2rem;
  }
}

/* footer */
footer {
  opacity: 0;
  color: rgb(135, 135, 135);
  margin-top: 10%;
  max-width: 1200px;
  margin: auto;
}
footer.visible {
  opacity: 1;
  animation: fadeIn2 2s ease-out forwards;
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.footer-container {
  position: relative;
  padding-top: 32%;
  margin-bottom: 8%;
}
#footer,
#footer2,
#footer3 {
  position: absolute;
  top: 0;
  left: 0;
}
footer div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  font-size: 0.5rem;
  max-width: 1200px;
  margin: auto;
}
footer div p {
  width: fit-content;
  margin: 0 auto;
}
footer img {
  position: absolute;
  display: none;
}
footer img.active {
  display: block;
}
@media screen and (min-width: 767px) {
  footer div {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer div {
    top: 380px;
  }
  .footer-container {
    margin-bottom: 0;
    padding-top: 445px;
  }
}
@media screen and (min-width: 1200px) {
  footer div {
    top: 420px;
  }
  .footer-container {
    margin-bottom: 0;
    padding-top: 480px;
  }
}
