@charset "utf-8";
/* リセットcss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: bottom;
  width: 100%;
}
html {
  font-family: "Hiragino Kaku Gothic Pro", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  font-size: 62.5%;
  color: rgb(172, 163, 131);
}
.wrapper {
  width: 1044px;
  margin: 0 auto;
}
/* header */
header {
  width: 1044px;
  height: 496px;
  position: relative;
  margin-bottom: 50px;
}
header nav ul {
  list-style-type: none;
  position: absolute;
  bottom: 10px;
  left: 50px;
}
header nav ul li {
  font-size: 30px;
  width: 208px;
  height: 70px;
}
header nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header nav ul li a:hover {
  color: rgb(252, 154, 119);
}
header p:nth-of-type(1) {
  position: absolute;
  bottom: 50%;
  right: 30%;
  color: rgb(135, 135, 135);
  font-size: 30px;
}
header p:nth-of-type(2) {
  position: absolute;
  bottom: 60%;
  right: 39.5%;
  color: rgb(135, 135, 135);
  font-size: 15px;
}
header h1 img {
  border-radius: 8px;
}
.orange {
  font-style: normal;
  color: rgb(252, 154, 119);
  font-size: 30px;
  padding: 10px;
}
.hometown {
  color: aquamarine;
}

/* main */
.grid {
  width: 1044px;
  margin: auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 344px 344px 344px;
  gap: 50px;
}
figure {
  border-radius: 8px;
}
figure:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
section:nth-of-type(1) {
  grid-column: 2/3;
  grid-row: 1/2;
}
section:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
figure:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}
figure:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}
section:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.text h2 {
  font-size: 40px;
  text-align: center;
}
.text p {
  font-size: 20px;
  border-top: 1px solid rgb(172, 163, 131);
}
main div div .borderno {
  border-top: none;
}
.text {
  display: grid;
  align-items: center;
}

/* footer */
footer {
  margin: auto;
  width: 1044px;
  height: 100px;
  border-top: 1px solid rgb(172, 163, 131);
}
footer a {
  text-decoration: none;
  color: rgb(172, 163, 131);
  padding-right: 10px;
  font-size: 20px;
  opacity: 0.5;
}
.container {
  display: flex;
  justify-content: space-between;
}
footer p {
  font-size: 15px;
  padding-left: 10px;
  line-height: 1.2;
  opacity: 0.5;
}
