@charset "utf-8";
/* リセットcss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: bottom;
  width: 100%;
}
html {
  font-family: "Hiragino Kaku Gothic Pro", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  font-size: 62.5%;
  color: rgb(172, 163, 131);
}
.wrapper {
  width: 1044px;
  margin: 0 auto;
}

/* header */
header {
  width: 1044px;
  height: 496px;
  position: relative;
}
header nav ul {
  list-style-type: none;
  position: absolute;
  bottom: 10px;
  left: 50px;
}
header nav ul li {
  font-size: 30px;
  width: 208px;
  height: 70px;
}
header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
header nav ul li a:hover {
  color: rgb(252, 154, 119);
}
header p {
  position: absolute;
  top: 30%;
  right: 5%;
  color: rgb(135, 135, 135);
  font-size: 23px;
}
header h1 img {
  border-radius: 8px;
  filter: opacity(0.6);
  /* opacity: 0.6; */
}
.orange {
  font-style: normal;
  color: rgb(252, 154, 119);
  font-size: 23px;
  padding: 10px;
}
.toppage {
  color: aquamarine;
}

/* main */
main {
  display: flex;
  justify-content: space-around;
  margin: 0px 10px 100px 10px;
}
main dl {
  padding-top: 100px;
}
main dl dt {
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}
main dl dd {
  font-size: 20px;
  padding: 10px;
}
main dl dt {
  border-bottom: 1px solid rgb(172, 163, 131);
}
.space {
  padding-top: 50px;
}

/* footer */
footer {
  margin: auto;
  width: 1044px;
  height: 100px;
  border-top: 1px solid rgb(172, 163, 131);
}
footer a {
  text-decoration: none;
  color: rgb(172, 163, 131);
  padding-right: 10px;
  font-size: 20px;
  opacity: 0.5;
}
.container {
  display: flex;
  justify-content: space-between;
}
footer p {
  font-size: 15px;
  padding-left: 10px;
  line-height: 1.2;
  opacity: 0.5;
}
